.sidebar {
  width: 220px;
  background: var(--card-dark);
  height: 100vh;
  border-right: 1px solid var(--border-dark);
  padding: 20px;
}

.logo {
  color: var(--accent);
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 700;
}

.menu-item {
  margin: 18px 0;
  color: var(--text-muted);
  cursor: pointer;
  transition: 0.2s;
}

.menu-item:hover,
.menu-item.active {
  color: var(--accent);
}
